<nav class="navbar navbar-expand-lg navbar-dark bg-dark-sm nav-width fixed-top hover-color   ">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mb-2 mb-lg-0 justify-content-sm-end flex">
      <li class="nav-item dropdown dropdown">
        <a class="nav-link dropdown-toggle dropbtn" id="navbarDropdown" role="button" data-toggle="dropdown"
          data-bs-toggle="dropdown" aria-expanded="false">
          Configuration
        </a>
        <ul class="dropdown-menu menu-size dropdown-content" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" routerLink="">Client Info Setup</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" routerLink="">Process Info Setup</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" routerLink="">Campaign Info Setup</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" routerLink="">Sub Process Info Setup</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" routerLink="">Pull SWM Data</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown  dropdown">
        <a class="nav-link dropdown-toggle dropbtn" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Adminstration
        </a>
        <ul class="dropdown-menu menu-size dropdown-content" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item " routerLink="master-value-maintenance">Master Value Maintenance</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" routerLink="skill-maintenance">Skill Maintenance</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" routerLink="time-zone-maintenance">Time Zone Maintenance</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" routerLink="location-maintenance">Location Maintenance</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" routerLink="facility-maintenance">Facility Maintenance</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" routerLink="sbumaintenance">SBU Maintenance</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" routerLink="lobmaintenance">LOB Maintenance</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" routerLink="vertical-maintenance">Vertical Maintenance</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown dropdown">
        <a class="nav-link dropdown-toggle dropbtn" id="navbarDropdown" role="button" data-toggle="dropdown"
          data-bs-toggle="dropdown" aria-expanded="false">
          Security
        </a>
        <ul class="dropdown-menu menu-size dropdown-content" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" routerLink="">Action</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" routerLink="">Another action</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" routerLink="">Something else here</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown dropdown">
        <a class="nav-link dropdown-toggle dropbtn" id="navbarDropdown" role="button" data-toggle="dropdown"
          data-bs-toggle="dropdown" aria-expanded="false">
          Reports
        </a>
        <ul class="dropdown-menu menu-size dropdown-content" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" routerLink="">Action</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" routerLink="">Another action</a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" routerLink="">Something else here</a>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</nav>